@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

body {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.content {
	position: absolute;
	top: calc(50% - 300px);
	left: calc(50% - 300px);
	width: 600px;
	height: 600px;
	background-color: bisque;
}

.pages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: 'Montez', cursive;
}

.pages-title {
	font-size: 4em;
	font-weight: 700;
	margin-bottom: 20px;
}

.pages-subtitle {
	font-size: 2em;
	font-weight: 400;
}
